<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../Layouts/header.ejs') %>
</head>

<body>
    <br><br>
    <%- include('../../Layouts/logout.ejs') %>
    <div style="text-align: center;">
        <h2><%= title %></h2>
    </div>
    <br>
    <center>
        <h1>Welcome, You are Logged In!</h1>
    </center>
</body>
</html>